<div class="container" style="margin-top:40px;  ">


    <div class="grid">
        <div class="col-12 ">
            <h1>Lançamentos Receitas</h1>
        </div>
        <div class="p-fluid col-12 ">
            <label>Descrição</label>
            <span class="p-input-icon-left box shadow-5 p-inputtext-sm ">
             
                <i class="pi pi-search "></i>
                <input   type="text " pInputText  >
            </span>
        </div>
        <div class="p-fluid col-12 ">
            <label style="display: block;">Vencimentos</label>
            <input type="text " pInputText class="p-inputtext-sm box shadow-5" style="width:95px">
            <label>até</label>
            <input type="text " pInputText class="p-inputtext-sm box shadow-5" style="width:95px">
        </div>
        <div class="col-12 ">

            <p-button label="Pesquisar" class="p-button-sm box shadow-5"></p-button>
        </div>
    </div>

    <p-table [value]="receitas" responsiveLayout="stack" [paginator]="true" [rows]="2">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Data Recebimento</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns>
            <tr>

                <td>{{columns.id}}</td>
                <td>{{columns.descricao}}</td>
                <td>{{columns.valor}}</td>
                <td>{{columns.dataRecebimento}}</td>
                <td> <button style="margin-right: 5px;" pButton pRipple icon="pi pi-trash" type="button " styleClass="p-button-sm" pTooltip="Editar" tooltipPosition="top" class="p-button-rounded p-button-info">
                    </button>
                    <button pButton pRipple icon="pi pi-pencil" type="button" styleClass="p-button-sm" pTooltip="Deletar" tooltipPosition="top" class="p-button-rounded p-button-danger"></button>
                </td>




            </tr>

        </ng-template>

    </p-table>
    <div class="col-12">


        <p-button label=" Adicionar Receitas " class="p-button-sm box shadow-5 "><i class="pi pi-plus" style="margin-right: 10px;"></i>

        </p-button>
    </div>
</div>