<div class="container" style="margin-top:40px;">
    <form autocomplete="off" (ngSubmit)="pesquisarDespesas()">

        <div class=" grid ">

            <div class="col-12 ">
                <h1>Lançamentos Despesas</h1>
            </div>
            <div class="p-fluid col-12 ">
                <label>Descrição</label>
                <span class="p-input-icon-left box shadow-5 p-inputtext-sm ">
             
                <input   type="text" pInputText  name="descricao" [(ngModel)]="descricao" >
            </span>
            </div>
            <div class="p-fluid col-2 ">
                <label style="display: block;margin-bottom: 10px;"><h2>Vencimentos</h2></label>
                <label>Mês</label>
                <p-calendar dateFormat="mm" view="month" inputStyleClass="width: 95px;" [(ngModel)]="mes" name="mes"></p-calendar>
                <label>Ano</label>

                <p-calendar dateFormat="yy" view="year" [inputStyle]="{ width: '95px' }" [(ngModel)]="ano" name="ano"></p-calendar>
            </div>
            <div class="col-12 ">

                <p-button label="Pesquisar" type="submit" class="p-button-sm box shadow-5"></p-button>
            </div>

        </div>
    </form>
    <p-table [value]="despesas" responsiveLayout="stack" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Categoria</th>
                <th>Valor</th>
                <th>Data de Pagamento</th>
                <th>Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns>
            <tr>

                <td>{{columns.id}}</td>
                <td>{{columns.descricao}}</td>
                <td>{{columns.tipo}}</td>
                <td>{{columns.categoria}}</td>
                <td>{{columns.valor}}</td>
                <td>{{columns.dataPagamento}}</td>
                <td> <button style="margin-right: 5px;" pButton pRipple icon="pi pi-trash" type="button " styleClass="p-button-sm " pTooltip="Editar " tooltipPosition="top " class="p-button-rounded p-button-info ">
                    </button>
                    <button pButton pRipple icon="pi pi-pencil" type="button" styleClass="p-button-sm" pTooltip="Deletar " tooltipPosition="top " class="p-button-rounded p-button-danger "></button>
                </td>




            </tr>

        </ng-template>

    </p-table>

    <div class="col-12 ">



        <p-button label=" Adicionar Despesas " (click)="adicionaDespesa() " class="p-button-sm box shadow-5 "><i class="pi pi-plus " style="margin-right: 10px; "></i>

        </p-button>


    </div>
</div>