<nav class="navbar ">
    <div class="container box shadow-7" style="background-color: #1e94d2;padding: 10px 0;">
        <div class="col-12 ">





            <div class="custom-menu" style="background-color: #1e94d2;">
                <h1 style="color:white; background-color: #1e94d2; ">
                    <p-button styleClass="p-button-sm" type="button" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu">
                        <i class="pi pi-align-justify"></i>

                    </p-button> Controle Financeiro</h1>
            </div>



            <ul class="navbar-menu" [hidden]="!exibindoMenu">

                <li class="navbar-menuitem"><a routerLink="home"><i class="pi pi-home"></i>Home</a></li>
                <li class="navbar-menuitem">
                    <a routerLink="despesas"><i class="pi pi-arrow-down"></i>Lançamentos Despesas</a></li>


                <li class="navbar-menuitem"><a routerLink="receitas"><i class="pi pi-arrow-up"></i>Lançamentos Receitas</a></li>
                <li class="navbar-menuitem">
                    <a href="#"><i class="pi pi-money-bill"></i>Resumo</a>
                </li>
            </ul>

        </div>
    </div>
    <router-outlet>
    </router-outlet>

</nav>