.navbar-toggle {
    color: #fff;
}

.navbar-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 210px;
    margin: 0;
    padding: 0;
    z-index: 9998;
    background-color: #3a3633;
    list-style: none;
    color: #fff;
}

.navbar-menuitem {
    padding: 15px;
}

.navbar-menuitem a {
    color: #c0bbb7;
    text-decoration: none;
}

.navbar-menuitem i {
    margin-right: 10px;
}

.navbar-menuitem a:hover {
    color: #fff;
}