<div class="container" style="margin-top:40px;  ">
    <form autocomplete="off" (ngSubmit)="pesquisarTudo()">

        <div class="grid">
            <div class="col-12 ">
                <h1>Resumo Mensal</h1>
            </div>
            <div class="col-12">
                <h4> Pesquisar por Mês e Ano:</h4>
            </div>
            <div class="col-2">
                <label><h4>Mês</h4></label>
                <p-calendar dateFormat="mm" view="month" [(ngModel)]="mes" name="mes"></p-calendar>
                <label><h4>Ano</h4></label>
                <p-calendar dateFormat="yy" view="year" [(ngModel)]="ano" name="ano"></p-calendar>
            </div>
            <div class="col-12 ">

                <p-button label="Pesquisar " type="submit " class="p-button-sm box shadow-5 "></p-button>
            </div>

        </div>
    </form>
    <div class="card box shadow-7" style="margin-bottom: 10vh;margin-top: 5vh;">
        <p-table [value]="receitas" responsiveLayout="scroll">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th colspan="4">
                        <h2 style="text-align: center;">Tabela de Receitas </h2>
                    </th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Data Recebimento</th>
                    <th>Valor</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns>
                <tr>

                    <td>{{columns.id}}</td>
                    <td>{{columns.descricao}}</td>
                    <td>{{columns.dataRecebimento}}</td>
                    <td style="color:blue">{{columns.valor | currency: 'BRL'}}</td>
                </tr>

            </ng-template>
            <ng-template *ngIf="resumo" pTemplate="footer">
                <tr>
                    <td colspan="3" class="text-right">Total Receita:</td>
                    <td style="color:blue">{{ resumo.valorTotalReceitas | currency: 'BRL'}}</td>

                </tr>
            </ng-template>
        </p-table>

    </div>
    <div class="card box shadow-7" style="margin-bottom: 10vh">
        <p-table [value]="despesas" responsiveLayout="scroll">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th colspan="6">
                        <h2 style="text-align: center;">Tabela de Despesas </h2>
                    </th>
                </tr>
                <tr>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Tipo</th>
                    <th>Categoria</th>
                    <th>Data de Pagamento</th>
                    <th>Valor</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns>
                <tr>
                    <td>{{columns.id}}</td>
                    <td>{{columns.descricao}}</td>
                    <td>{{columns.tipo}}</td>
                    <td [ngClass]="{'green':columns.categoria==='MORADIA','orange':columns.categoria==='TRANSPORTE',
                    'red':columns.categoria==='SAUDE','blue':columns.categoria==='LAZER','purple':columns.categoria==='IMPREVISTOS',
                    'yellow':columns.categoria==='EDUCACAO','brown':columns.categoria==='ALIMENTACAO',
                    'black':columns.categoria==='OUTRAS' }">{{columns.categoria}}</td>
                    <td>{{columns.dataPagamento}}</td>
                    <td style="color: red;">{{columns.valor | currency: 'BRL'}}</td>
                </tr>

            </ng-template>
            <ng-template *ngIf="resumo" pTemplate="footer">
                <tr>
                    <td colspan="5 " class="text-right ">Total Despesa:</td>
                    <td style="color:red ">{{ resumo.valorTotalDespesas | currency: 'BRL'}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="card box shadow-7" style="margin-bottom: 10vh">
        <p-table responsiveLayout="scroll">
            <ng-template *ngIf="resumo" pTemplate="header" let-columns>
                <tr>
                    <th>
                        <h2 style="text-align: center;">Saldo Final:

                            <h4 [ngClass]="{'red':resumo.saldoFinalMes<0, 'blue':resumo.saldoFinalMes>0}">{{ resumo.saldoFinalMes | currency: 'BRL'}}
                            </h4>
                        </h2>
                    </th>
                </tr>

            </ng-template>
        </p-table>
    </div>
    <div class="card box shadow-7" style="margin-bottom: 10vh">
        <p-table responsiveLayout="scroll" [value]="gasto">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th colspan="6 ">
                        <h2 style="text-align: center;">Despesas por Categorias </h2>
                    </th>
                </tr>
                <tr>
                    <th>Categoria</th>
                    <th>Valor Total</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns>
                <tr>

                    <td [ngClass]="{'green':columns.categoria==='MORADIA','orange':columns.categoria==='TRANSPORTE',
                    'red':columns.categoria==='SAUDE','blue':columns.categoria==='LAZER','purple':columns.categoria==='IMPREVISTOS',
                    'yellow':columns.categoria==='EDUCACAO','brown':columns.categoria==='ALIMENTACAO',
                    'black':columns.categoria==='OUTRAS' }">{{columns.categoria }}</td>

                    <td style="color:red;font-weight: bold;">{{ columns.valor_total | currency: 'BRL'}}</td>
                </tr>

            </ng-template>
        </p-table>
    </div>
</div>